wheel
gevent
flask
requests
pygments
dateutils
fuzzywuzzy
redis
colored
langdetect
cffi
polyglot
colorama
pyyaml
python-Levenshtein
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
